body{
/*  background-color: #FFF;*/
background-image: url('https://www.colourbox.com/preview/3689573-seamless-vector-background-of-the-sea-floor-colorful-fish.jpg');
background-repeat: no-repeat;
background-size: 150%;
}
h1{
  color: black;
  text-align: center;
  margin: 81px auto;
  padding: 15px;
  font-size: 50px;
}
header{
  background-color: #0F4E8C;
}

.box{
  border: 3px solid #FFF;
  height: 165px;
  width: 164.5px;
  float: left;
  text-align: center;
  border-radius: 3%;
}

.container{
text-align: center;
width: 512px;
height: 510px;
margin: 0 auto;
background-color: #000;
border-radius: 3%;
}

input{
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  font-weight: bold;
  background: #4BCDDB;
  color: #000;
  border-radius: 10px;
  border: 1px solid #999;

}
#reset{
  width: 200px;
  padding: 15px;
  font-size: 120%;
}
form{
  text-align:center;
  margin: 66px auto;
}

.x, .o{
  //display: none;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 20px;
}
.box:hover{
  background-color: #212729;
}
#wave{
  position: absolute;
  z-index: 10000;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height: 70%
  /*visibility: visible;*/
}
